*{
  margin: 0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  text-decoration: inherit;
  line-height: inherit;
  color:inherit;
}
html, body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px
  color:#444;
  text-shadow: 1px 1px 1px #fff;
}
body{
  background-image: url("background.png");
  text-align:center;
}
h1{
  font-size:120px;
  line-height:normal;
  font-family: 'Great Vibes', cursive;
  color:white;
}

h2{
  font-size:100px;
  line-height:normal;
  font-family: 'Great Vibes', cursive;
  color: white;
  padding-top: 20px;
}
/*.hero{
  display:flex;
  flex-direction:column;
  align-content:center;
  height:671 auto;
  width:581 auto;;
}
.hero img{
  outline: 10px solid black;
  width:100%;
  height:100%;
}*/
/*.techlife {
  outline: 10px solid red;
  /*transition:transform 7s;*/
  /*height:25%;
  width:25%;
  background-image: url("TillTheNextLifeSky.png");
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right:auto;
}*/

.techlife {
  outline: 10px solid red;
  height:25%;
  width:25%;
  margin-left: auto;
  margin-right:auto;
}

.techlife img {
  width: 100%;
  height: 100%;
}

#img1, #img2 {
  transition: 1s;
}

#img1:hover {
  opacity: 0;
}

#img2 {
  opacity: 1;
}

/*#img2:hover {
  opacity: 1;
}*/

#img2:hover {
  animation: wildspinmove 5s 3;
  -moz-animation: wildspinmove 5s 3;
}

@keyframes wildspinmove {
  0% {
    transform: rotate(90deg) skew(45deg) translate(-1px);
  }
  50% {
    transform: rotate(360deg) skew(359deg) translate(4px);
  }
  100% {
    transform: rotate(0deg) skew(9deg) translate(-1px);
  }
}


/*#img2:hover{
transform: rotate(360deg) skew(359deg) translate(-1px);
box-shadow:
}*/

.headshot:hover img{
opacity 0;
}

/*@font-face { font-family: FONTS; s rc: url('FONTS.FONTS');/*
/*@font-face { font-family: FONTS; src: url('FONTS.FONTS');/*
/*@font-face { font-family: FONTS; src: url('FONTS.FONTS');/*
/*@font-face { font-family: FONTS; src: url('FONTS.FONTS');/*
transition:transform 3s;
.techlife:hover{
transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-webkit-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-moz-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-o-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-ms-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
