*{
  margin: 0;
  padding:0;
  border:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  text-decoration: inherit;
  line-height: inherit;
  color:inherit;
}
html, body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color:#444;
  text-shadow: 1px 1px 1px #fff;
}
body{
  background-image: url(/Users/Corduroy/wdi/sandbox/webpage/Nebula-Wallpaper-HD-Download.jpg);
  background-size: cover;
  text-align:center;
  max-width: 500px;
}
#techlife {
  position:relative;
  max-height: height:281px;
  max-width: width:450px;
  padding-left:300px;
  margin:0 auto;

}

#techlife img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#techlife img.top:hover {
  opacity:0;
}
#text{
  max-width: 300px;
}

h1{
  font-size:120px;
  line-height:normal;
font-family: 'Great Vibes', cursive;
color:white;

}
h2{
  font-size:100px;
  line-height:normal;
font-family: 'Great Vibes', cursive;
color: white;
padding-top: 20px;
}


/*@font-face { font-family: FONTS; s rc: url('FONTS.FONTS');/*
/*@font-face { font-family: FONTS; src: url('FONTS.FONTS');/*
/*@font-face { font-family: FONTS; src: url('FONTS.FONTS');/*
/*@font-face { font-family: FONTS; src: url('FONTS.FONTS');/*
transition:transform 3s;
.techlife:hover{
transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-webkit-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-moz-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-o-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
-ms-transform: rotate(0deg) scale(0.782) skew(1deg) translate(-1px);
